
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.websiteTitle {
  font-family: "Island Moments", Serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.artContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artCard {
  margin: 10px;
  width: 18em;
}

.artCard img {
  width: 100%;
  height: 10em;
  object-fit: cover;
  object-position: left top;
}

.artCard img:hover {

}

.imageSearchIcon {
  font-size: 10em !important;
}

.artInfo {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  align-items: center;
}

.artInfo svg {
  cursor: pointer;
}

.artInfo > h2 {
  font-size: 100%;
}

.artInfo > h3 {
  font-size: 75%;
}

.ratingFormStars {
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artCardContent {
  height: 18em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newArtCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}